---
layout: default
---

<!-- Blog start -->

{% include nav.html %}

<section id="blog-page" class="module">
	<div class="container">
		<div class="row">
			<div class="module-header">
				<h2 class="module-title">
					Que es TEDxUCB?
					<span>TEDxUCB</span>
				</h2>
				<div class="module-line"></div>
			</div>
		</div><!-- .row -->

		<ul class="list-items-container blog-wrapper">

			<li class="list-item">
				<p>
						El comité organizador principal de TEDxUCB consiste de un grupo de voluntarios apasionados de una variedad de disciplinas que se dedican a la misión de TED de dar voz a ideas que vale la pena difundir.
						
						Haga clic en las imágenes para saber más sobre cada miembro del equipo.
				</p>
			</li>
			{% assign equipo_ordenado = site.equipo | sort:"order" %}
			{% for miembro in equipo_ordenado %}
			<li class="list-item" data-groups="all {{ post.category }}">
				<figure>
					<img src="{{site.baseurl}}/assets/images/equipo/{{miembro.foto_perfil}}" alt="p1">
					<figcaption>
						<a href="{{site.baseurl}}{{project.url}}"></a>
						<div class="caption-inner">
							<h3 class="portfolio-item-title">{{miembro.nombre}}</h3>
							<div class="portfolio-item-desc">{{miembro.cargo}}</div>
						</div>
					</figcaption>
				</figure>
			</li>

			{% endfor %}


		</ul><!-- .projects-container -->
	</div><!-- .contaier -->

</section>

<!-- Blog start -->