.logo--small {
	height: 30px;
}

.navbar-brand {
    height: 60px !important;
}

.navbar-nav li a {
    padding-top: 20px;
    padding-bottom: 20px;
}

.partner {
	padding: 20px;
}

.navbar-custom {
    background-color: #1a1a1a;
}

.text-red {
    color: red !important;
}

button.navbar-toggle {
    margin-top: 13px;
    margin-bottom: 13px;
}
.footer-container {
    text-align: left;
}

.footer-container ul {
    list-style-type: none;
    padding-left: 0;
    padding-top: 50px;
    padding-bottom: 50px;
}
