.logo--small {
	height: 30px;
}

.navbar-brand {
    height: 60px !important;
}

.navbar-nav li a {
    padding-top: 20px;
    padding-bottom: 20px;
}

.partner {
	padding: 20px;
}

.menu--important a {
	color: white !important;
	background: #5fd3bc;
}

.header {
	top: 0;
}

.navbar-custom {
    background-color: #1a1a1a;
}

.text-red {
    color: red;
}
