---
layout: default
---

{% include nav.html %}

<!-- Blog Detail Start -->

<section class="blog-detail">
	<div class="container">
		<div class="blog-detail-banner wow fadeIn">
			{% if page.foto_perfil %}
				<img src="/assets/images/speakers/ {{ page.foto_perfil }}" alt="{% if page.banner_image_alt %}{{ page.banner_image_alt }}{% else %}{{ page.title }}{% endif %}">
			{% endif %}
		</div>
		<div class="blog-detail-contents wow fadeInUp">
			<h2>{{page.title}}</h2>
			<div class="blog-detail-about clearfix">
				<div class="media pull-left">
					<div class="media-left">
						<img src="/assets/images/avatar.jpg" class="media-object" alt="avatar">
					</div>
					<div class="media-body">
						<h4 class="media-heading">{{site.author_name}}</h4>
						<p>{{ page.date | date: "%B %-d, %Y" }}</p>
					</div>
				</div>
			</div>
			<div class="blog-detail-content">
				{{content}}
			</div>
		</div>
	</div>
</section>

<!-- Blog Detail End -->
